body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: 20px;   
}

.header, .section-one, .footer {
    background-color: #1F2937;
}

.button, .section-four .title {
    background-color: #3882F6;
}

.section-three {
    background-color: #E5E7EB;
}

.section-one .title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

ul, .section-one .text {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration-line: none;
    color: #e5e7eb;
  }

.header {
    font-size: 24px;
    color:#f9faf8;
}

.section-two .title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}