body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    color:#f9faf8;
    font-weight: 800;
    padding-top: 10px;
}

.header, .section-one, .footer {
    background-color: #1F2937;
}

a {
    text-decoration-line: none;
    color: #e5e7eb;
  }

ul, .section-one .text {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;   
}

li {
  padding-left: 20px;
}

.button, .section-four .title {
    background-color: #3882F6;
}

.section-three {
    background-color: #E5E7EB;
}

.section-one .title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.section-two .title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}